<div class="row">
  <div class="col-sm-6">
    <h4>Het correcte antwoord is:</h4>
    <strong><%= simple_format @question.answer %></strong>

    <small class="text-muted">
      <% if @question.alerts.present? %>
        <span class="text-danger">
          We hebben een melding ontvangen dat dit antwoord niet klopt. Wij gaan dit z.s.m. corrigeren.
        </span>
      <% else %>
        Klopt dit antwoord niet of is het incompleet? Help ons door dit te melden. Wij corrigeren dan z.s.m. het antwoord.
        <%= form_for [@question, @question.alerts.build], html: { class: 'form-inline' } do |f| %>
          <%= f.text_field :message, class: 'form-control', placeholder: 'Reden van melding' %>
          <%= f.submit "Melden", class: 'btn btn-sm' %>
        <% end %>
      <% end %>
    </small>
  </div>

  <div class="col-sm-6">
    <h4>Jouw antwoord is:</h4>
    <%= simple_format @answer.input %>
    <p class="text-muted"><%= "Je hebt niets ingevuld..." if @answer.input.empty? %></p>

    <%= simple_form_for @answer do |f| %>
      <%= f.input :correct, as: :hidden %>

      <% if @answer.input.empty? %>
        <button class="btn btn-warning" autofocus>Volgende vraag</button>
      <% else %>
        <button class="btn btn-danger" autofocus>Ik heb het fout</button>
        <button href="#" class="btn btn-success" id="correct_answer_button">Ik heb het goed</button>
      <% end %>
    <% end %>
  </div>
</div>

