<%= form_for @answer do |f| %>
  <%= f.hidden_field :question_id %>

  <%= image_tag(@question.attachment.url(:default)) if @question.attachment.present? %>

  <table>
    <thead>
      <tr>
        <th>
          <%= simple_format @question.text %>
        </th>
      </tr>
    </thead>

    <% @options.each do |option| %>
      <tr class="<%= 'active' if option == @options.last %>">
        <td>
          <label>
            <%= f.radio_button :option_id, option.id %>
            <%= option %>
          </label>
        </td>
      </tr>
    <% end %>
  </table>

  <div class="wide">
    <%= f.submit "Antwoord controleren" %>
  </div>
<% end %>

<p style="text-align: right">
  <%= link_to "Sessie stoppen", :session, method: :delete, data: { confirm: "Deze leersessie wordt beeindigd" }%>
</p>


  <!--
                = simple_format @question.text
        - if @question.multiple_choice?
          - @options.each.with_index do |option, i|
            tr class="#{'danger' if option == @last_answer.option}#{'warning' if option.new_record?}#{'success' if @last_answer.question == @question && @last_answer.option.nil? && option == @question.correct_option}"
              td(style="padding:0")
                label style="display:block; padding:8px"
                  input name="answer[option_id]" required=true *{type: 'radio', value: option.id, autofocus: i < 1 || option == @last_answer.option, checked: option == @last_answer.option}
                    span< = option
        - else
          tr
            td
              div style="margin: 0" class="form-group"
                label style="display:block; padding:8px"
                  textarea.form-control name="answer[input]" rows=5 autocomplete="off" autofocus=true placeholder="Antwoord"
                    - if @last_answer.incorrect?
                      = @last_answer.input
                    - elsif @last_answer.pass?
                      = @question.correct_option.flatten_placeholders
                    - elsif @question.correct_option.placeholders?
                      = @question.correct_option.no_placeholders
      p
        button type="submit" class="btn btn-lg btn-primary btn-block" *{ disabled: @question.multiple_choice? }
          | Antwoord controleren
      p.text-right.text-muted
        | Vraag
        strong<>
          = @question.number
        | uit tentamen
        strong<>
          = @question.exam.date
      p.text-muted Weet je het antwoord niet? Selecteer dan 'Weet ik niet' of laat het antwoordveld leeg, probeer niet te gokken. Wij geven je het antwoord, onthouden dat je deze vraag niet goed beheerst en vragen hem later nog een keer.

  .col-lg-5
    .progress.progress-striped.active
      .progress-bar.progress-bar-success(role="progressbar" style="width: #{current_session.completion * 100}%")
    p

-->

