<%= @session.remaining_questions.length %> vragen over

<h3>Vraag:</h3>
<%= simple_format @question.text %>

<%= form_for @answer, remote: true do |f| %>
  <%= f.hidden_field :question_id %>
  <div class="form-group">
    <%= f.text_field :input, autofocus: true, class: 'form-control input-lg' %>
  </div>
  <button class="btn btn-default">Go!</button>
<% end %>

<hr>

<p class="text-muted">
  Vraag <%= link_to @question.number, exam_path(@question.exam, anchor: "question-#{@question.number}") %> uit tentamen <%= l @question.exam.date, format: :long %>
</p>

