<div class="row">
  <div class="col-sm-12">
    <p class="pull-right">
      <%= link_to "Stoppen", :session, method: :delete, data: { confirm: "Deze leersessie wordt beeindigd" }, class: 'btn btn-danger btn-sm' %>
    </p>

    <h3>Vraag: <%= raw "<small>#{link_to "bewerken", "/admin/question/#{@question.id}" }</small>" if can? :manage, @question %></h3>
    <%= simple_format @question.text %>

    <%= form_for @answer, remote: true do |f| %>
      <%= f.hidden_field :question_id %>
      <div class="form-group col-sm-10">
        <%= f.text_field :input, autofocus: true, class: 'form-control input-lg' %>
      </div>
      <button class="btn btn-default">Go!</button>
    <% end %>
  </div>
</div>

<small>
  <% if @question.alerts.present? %>
    <span class="text-danger">
      We hebben onderstaande melding(en) ontvangen dat de vraag/antwoord niet klopt of incompleet is. Wij gaan deze z.s.m. corrigeren.
    </span>
  <% end %>

  <ul>
    <% @question.alerts.each do |alert| %>
      <li><span class="text-muted"><%= alert.user.name %> (<%= time_ago_in_words alert.created_at %> geleden):</span> "<strong><%= alert.message %>"</strong></li>
    <% end %>
  </ul>

  Klopt dit antwoord niet of is het incompleet? Help ons door dit te melden. Wij corrigeren dan z.s.m. het antwoord.
  <%= form_for [@question, @question.alerts.build], html: { class: 'form-inline' } do |f| %>
    <%= f.text_field :message, class: 'form-control', placeholder: 'Reden van melding' %>
    <%= f.submit "Melden", class: 'btn btn-sm' %>
  <% end %>
</small>

<hr>

<strong class="text-muted pull-right">
  Nog <%= @session.remaining_questions.length %> vragen
</strong>

<span class="text-muted">
  Vraag <%= link_to @question.number, exam_path(@question.exam, anchor: "question-#{@question.id}") %> uit <%= link_to "tentamen #{l(@question.exam.date, format: :long)}", @question.exam %>
</span>

