<p class="pull-right">
  <%= link_to "Stoppen", :session, method: :delete, data: { confirm: "Deze leersessie wordt beeindigd" }, class: 'btn btn-danger' %>
</p>

<h3>Vraag:</h3>
<%= simple_format @question.text %>

<%= form_for @answer, remote: true do |f| %>
  <%= f.hidden_field :question_id %>
  <div class="form-group">
    <%= f.text_field :input, autofocus: true, class: 'form-control input-lg' %>
  </div>
  <button class="btn btn-default">Go!</button>
<% end %>

<hr>

<strong class="text-muted pull-right">
  Nog <%= @session.remaining_questions.length %> vragen
</strong>

<span class="text-muted">
  Vraag <%= link_to @question.number, exam_path(@question.exam, anchor: "question-#{@question.id}") %> uit <%= link_to "tentamen #{l(@question.exam.date, format: :long)}", @question.exam %>
</span>

