<h3>Vraag:</h3>
<%= simple_format @question.text %>

<%= form_for @answer, remote: true do |f| %>
  <%= f.hidden_field :question_id %>
  <%= f.text_field :input, autofocus: true, class: 'form-control' %>
  <%= f.submit %>
<% end %>

<hr>

<p class="text-muted">
  Vraag <%= @question.number %> uit tentamen <%= l @question.exam.date, format: :long %>
</p>
