<h3>Heb je al een account? Log in om verder te gaan met leren...</h3>

<%= form_for(resource, :as => resource_name, :url => user_session_path, html: { class: 'form-horizontal'}) do |f| %>
  <div class="form-group">
    <%= f.label :email, "E-mail adres", class: 'col-sm-2 control-label' %>
    <div class="col-sm-3">
      <%= f.email_field :email, autofocus: true, placeholder: 'E-mail adres', class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password, "Wachtwoord", class: 'col-sm-2 control-label' %>
    <div class="col-sm-3">
      <%= f.password_field :password, placeholder: 'Wachtwoord', class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-3">
      <button type="submit" class="btn btn-default">Inloggen</button>
      <%= f.check_box :remember_me %> <%= f.label :remember_me, "Ingelogd blijven" %>
    </div>
  </div>
<% end %>

<!--
<h3>Ik heb geen account, wat kan ik met deze site?</h3>
<p>
Een van de onderdelen van het studeren voor een tentamen is het oefenen van oude tentamens.
Het is erg effectief, maar kan ook heel saai zijn. Bovendien weet je nooit precies welke vragen je wel en niet beheerst.
</p>
<p>Hier leer je oude tentamens op interactieve manier. Het systeem houdt bij welke vragen je minder goed beheerst,
en herhaalt deze vragen totdat je ze allemaal onder de knie hebt. Waar je ook bent, met deze site kun je
overal oefenen, zelfs in de metro!
</p>
-->

<h3>Geen account?</h3>
<p>
  <%= link_to "Klik hier om je aan te melden", new_user_registration_path, class: 'btn btn-lg btn-primary' %>
</p>

