<p style="font-size: 17px; line-height: 1.6em" >De onderstaande thema's zijn samengesteld uit oude tentamenvragen die op basis van natural language processing algoritmes op elkaar lijken.
Door op een thema te klikken zie je welke vragen je kunt verwachten per onderwerp.
Je hebt hier, mits je bent ingelogd, ook de optie om de vragen per thema te oefenen.
De score per thema wordt opgeslagen en rechts weergeven, zodat je gericht te werk kunt gaan. Succes!
</p>

<ul class="nav nav-pills nav-stacked">
  <% @levels.each do |level| %>
    <li>
      <%= link_to level do %>
        <%
        if current_user
          last_session = current_user.sessions.where(level: level).last
          score = last_session.try(:score)
        %>
        <span class="pull-right text-<%= if score > 95 then 'success' elsif score > 50 then 'warning' else 'danger' end if score %>">
          <% if last_session %>
            <%= time_ago_in_words last_session.updated_at %> geleden: <%= score %>%
          <% else %>
            <span class="text-muted">0%</span>
          <% end %>
        </span>
      <% end %>

        <strong>
          Thema <%= level.number %>
        </strong>

        (<%= level.questions.length %> vragen)
      <% end %>
    </li>
  <% end %>
</ul>

