<!DOCTYPE html>
<html lang="nl">
  <head>
    <title>Tentamens</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      var heap=heap||[];heap.load=function(a){window._heapid=a;var b=document.createElement("script");b.type="text/javascript",b.async=!0,b.src=("https:"===document.location.protocol?"https:":"http:")+"//cdn.heapanalytics.com/js/heap.js";var c=document.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c);var d=function(a){return function(){heap.push([a].concat(Array.prototype.slice.call(arguments,0)))}},e=["identify","track"];for(var f=0;f<e.length;f++)heap[e[f]]=d(e[f])};
      heap.load("276542529");
    </script>
  </head>

  <body>
    <div class="container">
      <div id="header">
        <% if current_user %>
          <span style="float: right">
            <%= current_user.remaining_credits %> credits
          </span>

          <p>
            <strong><%= current_user.email.split('@').first %></strong> /
            <%= link_to_if session[:questions].empty?, @course, :courses %>
          </p>
        <% end %>
      </div>

      <%= yield %>

      <div id="footer">
        <%= link_to "Uitloggen", destroy_user_session_path, method: :delete %>
      </div>
    </div>
  </body>
</html>


